body {
    /*background: rgb(19,29,98);
    background: linear-gradient(60deg, rgba(19,29,98,1) 45%, rgba(148,119,21,1) 76%);*/
    background: rgb(38,32,42);
    background: linear-gradient(90deg, rgba(38,32,42,1) 0%, rgba(40,47,80,1) 50%, rgba(3,14,41,1) 100%);
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    color: wheat;
    text-align: justify;
}
h1{
    color: wheat;
    text-align: center;
}

h6{
    color: wheat;
    text-align: center;
}

span {
    color: gray;
    font-style: italic;
}
button {
    border-radius: 12px;
    padding: 3px 10px;
    margin: 4px;
}
