/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body{
  background: rgb(11,11,11);
  background: linear-gradient(180deg, rgba(11,11,11,1) 1%, rgba(13,15,108,0.8785889355742297) 89%);
  color: darkgrey;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

.inner{
  text-align: center;
  font-family: "Snell Roundhand", cursive;
  font-size: 60px;
}

.imgMain{
  width: 350px;
  height: 280px;
  margin: 5px;
  padding: 1px;
  border: 5px solid darkgrey;
  display: inline-block;
}

.imgTitle{
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#Copyright{
  text-align:center;
  color:grey;
  padding-top: 2px;
}

.icon{
  align-items: center;
  width: 37px;
}